/*
 * MEDIATHEK Extension
 * for Symphony CMS
 *
 * @author: Nils Hörrmann, post@nilshoerrmann.de
 * @source: http://github.com/nilshoerrmann/mediathek
 * @version: 2.0.1
 */

body.mediasection {
	background: rgb(230, 230, 229);
	overflow: hidden;
	border: none;
}

body.mediasection form {
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	top: 0;
	bottom: 0;
	overflow: hidden;
	border: none;
}

body.mediasection form fieldset {
	float: none !important;
	width: 100% !important;
	border: 1px solid transpareant;
	border-bottom: 1px solid #F5F5F4 !important;
	margin: 1em 0;
	padding: 0;
}

body.mediasection fieldset input {
	width: 100%;
}

body.mediasection form input.button {
	width: auto;
}

body.mediasection form label span {
	border: 1px solid #b4b5a3;
	background: #F5F5F4;
}

body.mediasection form .actions {
	border: none;
	padding: 0;
	margin: 0;
	height: 4em;
}

body.mediasection #notice {
	display: none;
}

body.mediasection #notice.success, body.mediasection #notice.error {
	display: block;
	margin: 1em 0 0 0 !important;
	padding: 0.2em 1em !important;
	border-bottom: none !important;
}